.chat {
  position: fixed;
  bottom: 64px;
  right: 0 !important;
  width: 350px !important;
  max-height: 700px !important;
  overflow-y: scroll;
  padding: 16px !important;
  margin-top: 5vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  /* background blur */
  z-index: 1000;
  max-height: 50vw;
  /* hide scroll bars */
  scrollbar-width: none;
  -ms-overflow-style: none;

  background-color: rgba(255, 255, 255, 0) !important;
  /* background blur */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}

.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding-bottom: 8px !important;
}

.buttons .option {
    background-color: #212529;
    color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 16px;
    margin-right: 8px;
    transition: 0.2s;
    font-weight: 300;
    margin-bottom: 16px;
}

.buttons .option:hover {
    background-color: #e4e4e4;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}
