.footer-container {
    background-color: #eeeeee !important;
    padding: 192px;
    padding-left: 64px !important;
    padding-right: 64px !important;
    padding-bottom: 16px;
    /* move up 100px */
    margin-top: -200px;
    z-index: 9999 !important;
}