.gold-card {
  background-color: #ffd700; /* Gold color, will show while the image is loading or if the image fails to load */
  background-image: url("./images/gold-card.png"); /* Path to your background image */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 158px !important; /* Width of the card */
  height: 100px !important; /* Height of the card */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.membership {
  margin-top: 1rem !important;
  background-color: #fff !important;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 456px;
  height: 200px;
}

.membership-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.membership-info {
  background-color: #fff !important;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease-in-out;
  z-index: -1;
  transition: 0.2s;
  width: 456px;
  padding-top: 16px;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}