.icon-wallet {
  padding-top: 4px;
  padding-right: 8px;
  margin: auto !important;
}

.cion-wallet svg {
  margin: auto !important;
}

.box1 {
  background: radial-gradient(at top right, #ffffff, #fff, #fff);
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.quick {
    margin-bottom: 0 !important;
}

.box2 {
  background: radial-gradient(at top left, #8ec2f1, #fff, #fff);
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -3; */
}

.round-button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #0018a8;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}


.button-container {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 16px;
}

.bi {
    width: 16px !important;
    height: 16px !important;
    margin: auto !important;
}

canvas {
    background-color: rgba(255, 255, 255, 0);
}

.canvasjs-chart-toolbar {
    display: none;
}

.canvasjs-chart-credit {
    display: none;
}

.headline {
    font-weight: 300;
    font-size: 2.5rem;
    color: #0018a8;
}

.user-name {
    font-size: 1.5rem;
    font-weight: 300;
    color: #535353;
}

.home-container {
    padding: 64px !important;
    background-color: transparent;
    padding-top: 16px !important;
    z-index: 100 !important;
}

.balance-container {
    margin-top: 1rem !important;
    background-color: #fff !important;
    padding: 16px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    padding-right: 32px;
}

.card-container {
    padding: 8px;
    /* border-radius: 4px; */
    margin-bottom: 16px;
    border: 1px solid #bac3ce;
    /* border-radius: 8px; */
    padding: 8px;
    background-color: #fff;
}

.income h3{
    color: rgb(5, 150, 41);
    margin: 0 !important;
    font-weight: 200;
    font-size: 1.5rem;
    /* shadow */
    text-shadow: 0 0 10px rgba(42, 224, 158, 0.2);
}

.expense h3{
    color: rgb(245, 93, 93);
    margin: 0 !important;
    font-weight: 200;
    font-size: 1.5rem;
    /* shadow */
    text-shadow: 0 0 10px rgba(245, 93, 93, 0.2);
}

.open-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 16px;
    z-index: 100;
}

.date {
    color: grey
}

.income p {
    margin: 0 !important;
}

.expense p {
    margin: 0 !important;
}

.income {
    justify-content: space-between;
    align-items: center
}

.expense {
    justify-content: space-between;
    align-items: center
}

.coins {
    /* border: 1px solid #bac3ce; */
    padding: 8px;
    background-color: #fff;
    margin-right: 8px !important;
}

.coins p {
    margin: 0 !important;
}

.line {
    border-bottom: 1px solid #bac3ce;
    margin-bottom: 16px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}

.background img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.background-whitefade {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 200px;
    position: relative;
    top: -200px;
}

.small {
    width: 500px !important;
}