.platinum-card {
  background-color: #ffd700;
  background-image: url("./images/platinum-card.png");
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 158px !important; /* Width of the card */
  height: 100px !important; /* Height of the card */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.membership-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.platinum-card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
