.home-container {
    padding: 64px !important;
    background-color: transparent;
    padding-top: 16px !important;
    z-index: 100 !important;
}

.form-container {
    margin-top: 1rem !important;
    background-color: #fff !important;
    padding: 16px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.under-limit {
    color: rgb(5, 150, 41);
}

.default-image {
    width: 82px;
    height: 82px;
    clip-path: circle(50%);
}

.balance-container {
    background-color: #fff !important;
    padding: 16px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.over-limit {
    color: rgb(245, 93, 93);
}

.option {
    background-color: #5c5c5c;
    color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 16px;
    margin-right: 8px;
    transition: 0.2s;
    font-weight: 300;
    margin-bottom: 16px;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .form-container {
        max-width: 100%;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-whitefade {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 200px;
    position: relative;
    top: -200px;
}

.small {
    width: 500px !important;
}