.home-container {
    background-color: rgba(255, 255, 255, 0.583);
    padding: 16px;
    margin-top: 5vh;
    border-radius: 4px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
    /* background blur */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
}


.form-container {
    background-color: rgba(255, 255, 255, 0.583);
    padding: 16px;
    /* margin-top: 5vh; */
    border-radius: 4px;
    max-width: 60%;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
    /* background blur */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
}

.option {
    background-color: #5c5c5c;
    color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 16px;
    margin-right: 8px;
    transition: 0.2s;
    font-weight: 300;
    margin-bottom: 16px;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .form-container {
        max-width: 100%;
    }
}